@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* NAVMENU.RAZOR */
.nav-item {
    @apply p-2 rounded-lg transition duration-200 ease-in-out hover:scale-110;
}

.nav-item.active {
    @apply bg-gradient-to-r from-gray-900 to-slate-700;
}

.navbar {
    @apply z-50 bg-gradient-to-b from-slate-700 to-gray-800 flex flex-col filter drop-shadow-md fixed inset-y-0 left-0 h-screen transition duration-500 ease-in-out;
    
}

.navbar-hidden {
    @apply transform -translate-x-full;
}

.overlay {
    @apply z-30 fixed w-screen h-screen bg-black filter backdrop-blur-2xl transition-opacity duration-500 ease-in-out;
    
}

.overlay-shown {
    @apply  opacity-70;
}

.overlay-hidden {
    @apply  opacity-0 transform -translate-x-full;
}

/* MAINLAYOUT.RAZOR */
.content-body {
    @apply w-screen justify-self-center lg:mx-48 sm:mx-20 mx-2 my-20 p-5 rounded-lg filter drop-shadow-lg overflow-visible min-h-screen;
}

.main-layout {
    @apply flex flex-row bg-gray-900 text-gray-50;
}

/* INDEX.HTML and GLOBAL STUFF */
h1 {
    @apply font-bold text-xl;
}

body {
    @apply bg-gray-900 text-white;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


